{% extends 'BaseDeDatos/mostrarDatos.html' %}
{% block content %}
<div class="datos">
    {% if not matri_AATEE %}
    <h2>Sin matriculas de AATEE</h2>
    {% else %}
    <h2>Matriculas AATEE</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for i in matri_AATEE %}
            <tr>
                <td>{{i.fecha}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if not matri_ENAT %}
    <h2>Sin matriculas de ENAT</h2>
    {% else %}
    <h2>Matriculas ENAT</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for i in matri_ENAT %}
            <tr>
                <td>{{i.fecha}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if not matri_FETRA %}
    <h2>Sin matriculas de FETRA</h2>
    {% else %}
    <h2>Matriculas FETRA</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for i in matri_FETRA %}
            <tr>
                <td>{{i.fecha}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <button class="btnRedondeado" type="button" onclick="location.href='/ver_matriculas/todo'">Regresar</button>
</div>
{% endblock %}