{% extends 'BaseDeDatos/registrarYeditar.html' %}
{% block content %}
<div class="formulario">
    <form action="" method="post">
        {% if not matri_AATEE %}
        <h2>Sin matriculas de AATEE</h2>
        {% else %}
        <h2>Matriculas AATEE</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th></th>
                    {% if modo == "editar" %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if modo == "editar" %}
                {% for idMatri,fecha in matri_AATEE %}
                <tr>
                    <td>{{fecha}}</td>
                    <td><input type="date" name="fecha_AATEE"></td>
                    <td><input type="checkbox" name="checkbox_AATEE" value="{{idMatri}}"></td>
                </tr>
                {% endfor %}
                {% else %}
                {% for idMatri,fecha in matri_AATEE %}
                <tr>
                    <td>{{fecha}}</td>
                    <td><input type="checkbox" name="checkbox_AATEE" value="{{idMatri}}"></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% endif %}
        {% if not matri_ENAT %}
        <h2>Sin matriculas de ENAT</h2>
        {% else %}
        <h2>Matriculas ENAT</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th></th>
                    {% if modo == "editar" %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if modo == "editar" %}
                {% for idMatri,fecha in matri_ENAT %}
                <tr>
                    <td>{{fecha}}</td>
                    <td><input type="date" name="fecha_ENAT"></td>
                    <td><input type="checkbox" name="checkbox_ENAT" value="{{idMatri}}"></td>
                </tr>
                {% endfor %}
                {% else %}
                {% for idMatri,fecha in matri_ENAT %}
                <tr>
                    <td>{{fecha}}</td>
                    <td><input type="checkbox" name="checkbox_ENAT" value="{{idMatri}}"></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% endif %}
        {% if not matri_FETRA %}
        <h2>Sin matriculas de FETRA</h2>
        {% else %}
        <h2>Matriculas FETRA</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th></th>
                    {% if modo == "editar" %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if modo == "editar" %}
                {% for idMatri,fecha in matri_FETRA %}
                <tr>
                    <td>{{fecha}}</td>
                    <td><input type="date" name="fecha_FETRA"></td>
                    <td><input type="checkbox" name="checkbox_FETRA" value="{{idMatri}}"></td>
                </tr>
                {% endfor %}
                {% else %}
                {% for idMatri,fecha in matri_FETRA %}
                <tr>
                    <td>{{fecha}}</td>
                    <td><input type="checkbox" name="checkbox_FETRA" value="{{idMatri}}"></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% endif %}
        <div class="dosBotones">
            {% if modo == "editar" %}
            <button class="btnRedondeado" type="button"
                onclick="location.href='/Editar_matriculas/{{id}}/eliminar'">Eliminar</button>
            {% else %}
            <button class="btnRedondeado" type="button"
                onclick="location.href='/Editar_matriculas/{{id}}/editar'">Editar</button>
            {% endif %}
            <button class="btnRedondeado" type="submit">Aceptar</button>
        </div>
        <div class="dosBotones">
            <button class="btnRedondeado" type="button"
                onclick="location.href='/agregarMatriculas/{{id}}'">Agregar</button>
            <button class="btnRedondeado" type="button" onclick="location.href='/ver_matriculas/todo'">Regresar</button>
        </div>
    </form>
</div>
{% endblock %}