{% extends 'BaseDeDatos/PlantillaPadre.html' %}
{% block content %}

<body>
    <nav class="filtros">
        <form action="" method="post">
            <section class="filtrosFil">
                <p>Nombre</p>
                <input type="text" name="Nombre" id="Nombre">
            </section>
            <section class="filtrosFil">
                <p>Apellido</p>
                <input type="text" name="Apellido" id="Apellido">
            </section>
            <section class="filtrosFil">
                <p>Instructor:</p>
                {{usuarios.dato}}
            </section>
            <br>
            <section class="filtrosCol">
                <button class="btnFilRedondeado" type="submit">Aceptar</button>
            </section>
        </form>
        <section class="filtrosFil">
            <button class="btnFilRedondeado" onclick="llenar('Matriculas','AATEE','','')">Matricula AATEE</button>
            <button class="btnFilRedondeado" onclick="llenar('Matriculas','FETRA','','')">Matricula FETRA</button>
            <button class="btnFilRedondeado" onclick="llenar('Matriculas','ENAT','','')">Matricula ENAT</button>
        </section>
        <section class="filtrosFil">
            <button class="btnFilRedondeado" type="button" onclick="location.href='/ver_matriculas/todo'">Ver todo</button>
            <button class="btnFilRedondeado" type="button" onclick="location.href='/Base'">Regresar</button>
        </section>
    </nav>
    <div class="tablaListado">
        <table border="1">
            <tbody>
                {% for alumno in alumnos %}
                    <tr>
                        <td><input type="checkbox" name="checkbox" value="{{alumno.id_alumno}}"></td>
                        <td class="celdaCentro">
                            <strong>{{alumno.apellido_alumno}} {{alumno.nombre_alumno}}</strong><br>
                            <p>{{alumno.graduacion_alumno}}</p><br>
                            {% if alumno.fecha_Aatee %}
                                <p>AATEE: {{alumno.fecha_Aatee.year}}/{{alumno.fecha_Aatee.month}}/{{alumno.fecha_Aatee.day}}</p>
                            {% else %}
                                <p>No pagó AATEE</p>
                            {% endif %}
                            <br>
                            {% if alumno.fecha_Fetra %}
                                <p>Fetra: {{alumno.fecha_Fetra.year}}/{{alumno.fecha_Fetra.month}}/{{alumno.fecha_Fetra.day}}</p>
                            {% else %}
                                <p>No pagó Fetra</p>
                            {% endif %}
                            <br>
                            {% if alumno.fecha_Enat %}
                                <p>Enat: {{alumno.fecha_Enat.year}}/{{alumno.fecha_Enat.month}}/{{alumno.fecha_Enat.day}}</p>
                            {% else %}
                                <p>No pagó Enat</p>
                            {% endif %}
                        </td>
                        <td><a href="{{url_for('Detalles_matriculas', id = alumno.id_alumno)}}"><img src="../../../static/CSS/icons8-detalles-50.png" alt="Detalles"></a></td>
                        <td><a href="{{url_for('Editar_matriculas', id = alumno.id_alumno, modo = 'editar')}}"><img src="../../../static/CSS/escritura.png" alt="Editar"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
    <script type="text/javascript" src="/static/BaseJS/llenarYrecargar.js"></script>
</body>
{% endblock %}