{% extends 'BaseDeDatos/mostrarTablas.html' %}
{% block content %}

<nav class="filtros" id="filtros">
    <form action="" method="post">
        <p>Nombre</p>
        <input type="text" name="Nombre" id="Nombre">
        <p>Apellido</p>
        <input type="text" name="Apellido" id="Apellido">
        <p>Instructor:</p>
        {{usuarios.dato}}
        <button class="btnFilRedondeado" type="submit">Aceptar</button>
    </form>
    <button class="btnFilRedondeado" onclick="llenar('Matriculas','AATEE','','')">Matricula AATEE</button>
    <button class="btnFilRedondeado" onclick="llenar('Matriculas','FETRA','','')">Matricula FETRA</button>
    <button class="btnFilRedondeado" onclick="llenar('Matriculas','ENAT','','')">Matricula ENAT</button>
    <button class="btnFilRedondeado" type="button" onclick="location.href='/ver_matriculas/todo'">Ver todo</button>
    <button class="btnFilRedondeado" type="button" onclick="location.href='/Base'">Regresar</button>
</nav>
<table border="1" id="tabla">
    <thead>
        <tr>
            <th></th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Enat</th>
            <th>AATEE</th>
            <th>Fetra</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for alumno in alumnos %}
        <tr>
            <td><input type="checkbox" name="checkbox" value="{{alumno.id_alumno}}"></td>
            <td>{{alumno.apellido_alumno}}</td>
            <td>{{alumno.nombre_alumno}}</td>
            <td>{{alumno.graduacion_alumno}}</td>
            <td>{{alumno.fecha_Enat.year}}/{{alumno.fecha_Enat.month}}/{{alumno.fecha_Enat.day}}</td>
            <td>{{alumno.fecha_Aatee.year}}/{{alumno.fecha_Aatee.month}}/{{alumno.fecha_Aatee.day}}</td>
            <td>{{alumno.fecha_Fetra.year}}/{{alumno.fecha_Fetra.month}}/{{alumno.fecha_Fetra.day}}</td>
            <td><a href="{{url_for('Editar_matriculas', id = alumno.id_alumno, modo = 'editar')}}"><img
                        src="../../../static/CSS/escritura.png" alt="Editar"></a>
            <td><a href="{{url_for('Detalles_matriculas', id = alumno.id_alumno)}}"><img
                        src="../../../static/CSS/icons8-detalles-50.png" alt="Detalles"></a></td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript" src="/static/BaseJS/llenarYrecargar.js"></script>
{% endblock %}