{% extends 'BaseDeDatos/PlantillaPadre.html' %}
    {% block content %}
    <body>        
        <form action="" method="post">
            <nav class="filtros">
                <section class="filtrosFil">
                    <ul>
                        <li>
                            <button type="button" id="primero" onclick="mostrarSubmenu('submenu1')">Examen</button>
                            <ul class="submenu" id="submenu1">
                                <li><button class="btnFilRedondeado" id="botonCambio" type="button" onclick="location.href='/subir_imagenes/Examen'">Subir fotos examen</button></li>
                                <li><button class="btnFilRedondeado" id="botonCambio" type="button" onclick="location.href='/subir_imagenes/Aexamen'">Agregar fotos a examen</button></li>
                                <li><button class="btnFilRedondeado" id="botonCambio" type="button" onclick="location.href='/ver_imagenes/Examen'">Ver fotos de examen</button></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <button type="button" id="primero" onclick="mostrarSubmenu('submenu2')">Torneo</button>
                            <ul class="submenu" id="submenu2">
                                <li><button class="btnFilRedondeado" id="botonCambio" type="button" onclick="location.href='/subir_imagenes/Torneo'">Subir fotos torneo</button></li>
                                <li><button class="btnFilRedondeado" id="botonCambio" type="button" onclick="location.href='/subir_imagenes/Atorneo'">Agregar fotos a torneo</button></li>
                                <li><button class="btnFilRedondeado" id="botonCambio" type="button" onclick="location.href='/ver_imagenes/Torneo'">Ver fotos de torneo</button></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <button type="button" id="primero" onclick="mostrarSubmenu('submenu3')">Actividades</button>
                            <ul class="submenu" id="submenu3">
                                <li><button class="btnFilRedondeado" id="botonCambio" type="button" onclick="location.href='/subir_imagenes/Otros_eventos'">Subir fotos actividad</button></li>
                                <li><button class="btnFilRedondeado" id="botonCambio" type="button" onclick="location.href='/subir_imagenes/AOtros_eventos'">Agregar fotos a actividad</button></li>
                                <li><button class="btnFilRedondeado" id="botonCambio" type="button" onclick="location.href='/ver_imagenes/Otros_eventos'">Ver fotos de la ultima actividad</button></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <button type="button" id="primero" onclick="mostrarSubmenu('submenu4')">Opciones</button>
                            <ul class="submenu" id="submenu4">
                                <li><button class="btnFilRedondeado" id="botonCambio" type="button" onclick="location.href='/ver_imagenes/todo'">Ver todo</button></li>
                                <li><button class="btnFilRedondeado" id="botonCambio" type="submit">Eliminar seleccionados</button></li>
                                <li><button class="btnFilRedondeado" id="botonCambio" type="button" onclick="location.href='/Base'">Regresar</button></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </nav>
            {% if fotoExa %}
                <h1>Fotos del ultimo examen</h1>
                <div class="imagenes">
                        {% for i in fotoExa %}
                            <div class="imagen">
                                <img src="{{url_for('static', filename = i.direccion)}}" alt="">
                                <input type="checkbox" name="checkboxImagen" value="{{i.id_imagen}}">
                            </div>
                        {% endfor %}
                </div>
            {% endif %}
            {% if fotoTor %}
                <h1>Fotos del ultimo torneo</h1>
                <div class="imagenes">
                        {% for i in fotoTor %}
                            <div class="imagen">
                                <img src="{{url_for('static', filename = i.direccion)}}" alt="">
                                <input type="checkbox" name="checkboxImagen" value="{{i.id_imagen}}">
                            </div>
                        {% endfor %}
                </div>
            {% endif %}
            {% if fotoAct %}
                <h1>Fotos de la ultima actividad</h1>
                <div class="imagenes">
                        {% for i in fotoAct %}
                            <div class="imagen">
                                <img src="{{url_for('static', filename = i.direccion)}}" alt="">
                                <input type="checkbox" name="checkboxImagen" value="{{i.id_imagen}}">
                            </div>
                        {% endfor %}
                </div>
            {% endif %}
        </form>
        <script src="../../../static/BaseJS/imgLinks.js"></script>
    </body>
    {% endblock %}