<!DOCTYPE html>
<html>

<head>
  <title>ESCUELA NACIONAL DE TAEKWONDO</title>
  <meta name="description"
    content="somos una escuela de taekwondo argentina asociada a la ITF. estamos en buenos aires, argentina.">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Pagina/glider.min.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Pagina/normalize.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Pagina/menu2.css')}}">

  <link rel="icon" href="{{url_for('static',filename='Imagenes/ENAT.png')}}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
  </style>
  <script src="https://kit.fontawesome.com/6fc2b5cb5b.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="taekwondo, ENAT, ITF">
</head>

<body>

  <span class="nav-bar" id="btnmenu"><i class="fas fa-bars"></i></span>
  <nav class="main-nav">
    <ul class="menu" id="menu">
      <li class="menu__item container-submenu">
        <a class="menu__link submenu-btn" href="#">PLANILLAS </a>
        <ul class="submenu">
          <li class="menu__item"> <a class="menu__link"
              href="https://docs.google.com/forms/d/1K5ZomUqI6f1GoRv2lIFK7I5mdhY0M--J1qgIrI008LA/prefill">PLANILLA DE
              INSCRIPCION</a> </li>
          <li class="menu__item" i> <a class="menu__link" href="https://forms.gle/UfWaNT2AnrWb4uug6">PLANILLA DE
              EXAMEN</a> </li>
        </ul>
      </li>
      <li class="menu__item container-submenu">
        <a class="menu__link submenu-btn" href="#">NOSOTROS</a>
        <ul class="submenu">
          <li class="menu__item"> <a class="menu__link" href="{{url_for('gimnasios')}}">GIMNASIOS</a></li>
          <li class="menu__item"> <a class="menu__link" href="{{url_for('inicio')}}">BASE DE DATOS</a> </li>
        </ul>
      </li>
      <li class="menu_item"> <a class="menu__link" href="#">EQUIPOS</a> </li>
      <li class="menu_item"> <a class="menu__link" href="{{url_for('teoria')}}"> TEORIA</a> </li>
    </ul>
    </li>
    </ul>
  </nav>
  <nav class="titulocentral">
    <h1 id="tituloescuelanacional"> Escuela Nacional De Taekwondo</h1>
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item  active">
          <div class="">
            <img src="{{url_for('static',filename='Imagenes/ENAT.png')}}" class=" img enat">
          </div>
        </div>
        <div class="carousel-item ">
          <div class="">
            <img src="{{url_for('static',filename='Imagenes/aate.png')}}" class=" img enat">
          </div>
        </div>
      </div>
    </div>
    <h1 id="pasionporlaexcelencia" class="subtitulo"> PASION POR LA EXCELENCIA</h1>
  </nav>
  {% if carrFechas %}
  <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" role="listbox">
      {% for clase,fecha in carrFechas %}
      <div class="{{clase}}">
        <div class="">
          <h2 class="noticias"> {{fecha}} </h2>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <main class="contenido">

    <!--- DESDE ACA INICIAN LOS CARROUSELES-->
    <!--- Primer modal con su carrousel-->
    <div class="modal fade" id="examenes" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-body">
          <img src="../../static/Imagenes/aate.png "> 
            <button class="carousel-control-prev" type="button" data-bs-target="#examen" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#examen" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </div>

          <div role="tablist" id="carrousel__indicadores" class="carrousel__indicadores"></div>
        </div>
      </div>
    </div>
    <section>
      <header>
        {% if fOtro %}
        <h2 class="tituloimagenes" id="imagenes">
          <u>
            {{fOtro["tipoOpc"]}}:
            {{fOtro.fecha_evento.year}}/{{fOtro.fecha_evento.month}}/{{fOtro.fecha_evento.day}}
          </u>
        </h2>
        {% endif %}
      </header>
      <div class="Carrouseles">
        <div class="carousel slide" data-bs-ride="carousel">
          <div id="carrousel__lista" class="carousel-inner width" data-bs-toggle="modal" data-bs-target="#examenes">
            <div id="controlsexamen" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
            <!--- {% if carrOtroSel != None %}
                {% for clase,direccion in carrOtroSel %}
                <div class="{{clase}}">
                  <img class="imagen" src="{{url_for('static', filename=direccion)}}" class="d-block " alt="...">
                </div>
                {% endfor %}
                {% endif %} --->
               </div>
            </div>
            <div role="tablist" id="carrousel__indicadores" class="carrousel__indicadores">
              <button class="carousel-control-prev" type="button" data-bs-target="#controlsexamen" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#controlsexamen" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <!--- HASTA ACA VA EL CARROUSEL-->
          <p class="textos"> Fotos del examen XX/XX/XX (FIJATE QUE ESTO ERA TAMBIEN PARA QUE LOS ADMINS CAMBIEN EL TEXTO
            CUANDO LO SUBIMOS)
          </p>
        </div>
    </section>

    <div class="modal fade" id="examenes" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-body">
           <!-- {% if carrExaSel %}
                {% for clase,direccion in carrExaSel %}
        
                {% endfor %}
                {% endif %} -->
                <img src="../../static/Imagenes/aate.png "> 
          <img class="imagen" src="{{url_for('static', filename=i)}}" class="d-block" alt="...">
            <button class="carousel-control-prev" type="button" data-bs-target="#examen" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#examen" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </div>

          <div role="tablist" id="carrousel__indicadores" class="carrousel__indicadores"></div>
        </div>
      </div>
    </div>
    <!--- FALTA SEGUNDO MODAL ACA-->

    <section>

      <!--- DESDE ACA INICIAN LOS CARROUSELES-->

      <header>
        <!-- Es el titulo de cada carrousel -->
        {% if fExamen %}
        <h2 class="tituloimagenes">
          {% if fExamen["lugar_evento"] == "Otro" %}
          <u>
            {{fExamen["tipoOpc"]}}:
            {{fExamen.fecha_evento.day}}/{{fExamen.fecha_evento.month}}/{{fExamen.fecha_evento.year}}
          </u>
          {% else %}
          <u>
            Examen:
            {{fExamen.fecha_evento.day}}/{{fExamen.fecha_evento.month}}/{{fExamen.fecha_evento.year}}
          </u>
          {% endif %}
        </h2>
        {% endif %}
      </header>
      <!-- Termina el titulo de los carrouseles -->
      <div class="Carrouseles">
        
        <div class="carousel slide" data-bs-ride="carousel">
          <div id="carrousel__lista" class="carousel-inner width" data-bs-toggle="modal" data-bs-target="#torneos">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% if carrExaSel %}
                {% for clase,direccion in carrExaSel %}
                <div class="{{clase}}">
                  <img class="imagen" src="{{url_for('static', filename=direccion)}}">
                </div>
                <div class="{{clase}}">
                  <img class="imagen" src="{{url_for('static', filename=direccion)}}">
                </div>
                {% endfor %}
                {% endif %}

              </div>
              <div role="tablist" id="carrousel__indicadores" class="carrousel__indicadores">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--- HASTA ACA VA EL CARROUSEL-->
        {% if fExamen%}
          <p class="textos"> 
            {{fExamen.actRealizada}}
          </p>
          <p class="textos"> Fotos del examen XX/XX/XX (FIJATE QUE ESTO ERA TAMBIEN PARA QUE LOS ADMINS CAMBIEN EL TEXTO
            CUANDO LO SUBIMOS)
          </p>
        {% endif %}
      </div>
    </section>





    <!--- DESDE ACA INICIAN LOS CARROUSELES-->

    <!--- Tercer modal con su carrousel-->
    <div class="modal fade" id="examenes" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-body">
            {% if carrTor != None %}
            {% for i in carrTor %}
            <img class="imagen" src="{{url_for('static', filename=i)}}" class="d-block" alt="...">
            {% endfor %}
            {% endif %}

            <button class="carousel-control-prev" type="button" data-bs-target="#examen" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#examen" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </div>

          <div role="tablist" id="carrousel__indicadores" class="carrousel__indicadores"></div>
        </div>
      </div>
    </div>
    <section>
      <header>
        {% if fTorneo %}
        <H2 class="tituloimagenes">
          {% if fTorneo["lugar_evento"] == "Otro" %}
          <u>
            {{fTorneo["tipoOpc"]}}:
            {{fTorneo.fecha_evento.day}}/{{fTorneo.fecha_evento.month}}/{{fTorneo.fecha_evento.year}}
          </u>
          {% else %}
          <u>
            Torneo:
            {{fTorneo.fecha_evento.day}}/{{fTorneo.fecha_evento.month}}/{{fTorneo.fecha_evento.year}}
          </u>
          {% endif %}
        </H2>
        {% endif %}
      </header>
      <div class="Carrouseles">
        <div class="carousel slide" data-bs-ride="carousel">
          <div id="carrousel__lista" class="carousel-inner width" data-bs-toggle="modal" data-bs-target="#jornada">
            <div id="controljornada" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% if carrTorSel %}
                {% for clase,direccion in carrTorSel %}
                <div class="{{clase}}">
                  <img class="imagen" src="{{url_for('static', filename=direccion)}}">
                </div>
                <div class="{{clase}}">
                  <img class="imagen" src="{{url_for('static', filename=direccion)}}">
                </div>
                {% endfor %}
                {% endif %}
              </div>
            </div>
            <div role="tablist" id="carrousel__indicadores" class="carrousel__indicadores">
              <button class="carousel-control-prev" type="button" data-bs-target="#controlsjornada"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#controlsjornada"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <!--- HASTA ACA VA EL CARROUSEL-->
          <p class="textos"> Fotos del examen XX/XX/XX (FIJATE QUE ESTO ERA TAMBIEN PARA QUE LOS ADMINS CAMBIEN EL TEXTO
            CUANDO LO SUBIMOS)
          </p>
        </div>
    </section>
    <section class="entrevistas"> 
      <h1 class="entrevista"> Gimnasios </h1>
      <video class="video" src="../../static/Imagenes/prueba.mp4" controls> </video>
      </section>
<section class="entrevistas"> 
<h1 class="entrevista"> Entrevistas </h1>
<video class="video" src="../../static/Imagenes/prueba.mp4" controls> </video>
</section>


  </main>

  <footer>
    <div class="contacto">
      <ul class="mediodecontacto">
        <p class="contactanos">contactanos
        <p>
          <li> <ion-icon name="logo-instagram"></ion-icon> <a class="mediodecontacto"
              href="https://www.instagram.com/tkdenat/" class="iconos"> instagram </a> </li>
          <li> <ion-icon name="logo-facebook"></ion-icon> <a class="mediodecontacto" href="#" class="iconos">
              facebook</a> </li>
          <li> <b> MAIL:</b> <a href="mailto:#?Subject=Taekwon-Do"> falta gmail de la escuela</a> </li>
          <li class="copy">© Enat-Escuela nacional de taekwondo - lautaro vallejos</li>
      </ul>
    </div>

    <div class="logoescueladiv">
      <img class="logodiv img" src="{{url_for('static',filename='Imagenes/ENAT.png')}}">
    </div>

    <div class="logsitf">
      <ul class="logoitf">
        <li> <img class="itf" src="{{url_for('static',filename='Imagenes/itf (2).png')}}"> </li>
        <li> <img class="itf" id="aate" src="{{url_for('static',filename='Imagenes/aate.png')}}"> </li>
      </ul>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 1000
    });
  </script>
  <script type="text/javascript" src="{{url_for('static',filename='JS/glider.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='JS/menu3.js')}}"></script>
</body>

</html>