<!DOCTYPE html>
<html>

<head>
  <title>ESCUELA NACIONAL DE TAEKWONDO</title>
  <meta name="description"
    content="somos una escuela de taekwondo argentina asociada a la ITF. estamos en buenos aires, argentina.">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Pagina/glider.min.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Pagina/normalize.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Pagina/menu2.css')}}">

  <link rel="icon" href="{{url_for('static',filename='Imagenes/ENAT.png')}}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
  </style>
  <script src="https://kit.fontawesome.com/6fc2b5cb5b.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="taekwondo, ENAT, ITF">
</head>

<body>

  <span class="nav-bar" id="btnmenu"><i class="fas fa-bars"></i></span>
  <nav class="main-nav">
    <ul class="menu" id="menu">
      <li class="menu__item container-submenu">
        <a class="menu__link submenu-btn" href="#">PLANILLAS </a>
        <ul class="submenu">
          <li class="menu__item"> <a class="menu__link"
              href="https://docs.google.com/forms/d/1K5ZomUqI6f1GoRv2lIFK7I5mdhY0M--J1qgIrI008LA/prefill">PLANILLA DE
              INSCRIPCION</a> </li>
          <li class="menu__item" i> <a class="menu__link" href="https://forms.gle/UfWaNT2AnrWb4uug6">PLANILLA DE
              EXAMEN</a> </li>
        </ul>
      </li>
      <li class="menu__item container-submenu">
        <a class="menu__link submenu-btn" href="#">NOSOTROS</a>
        <ul class="submenu">
          <li class="menu__item"> <a class="menu__link" href="{{url_for('gimnasios')}}">GIMNASIOS</a></li>
          <li class="menu__item"> <a class="menu__link" href="{{url_for('inicio')}}">BASE DE DATOS</a> </li>
        </ul>
      </li>
      <li class="menu_item"> <a class="menu__link" href="#">EQUIPOS</a> </li>
      <li class="menu_item"> <a class="menu__link" href="{{url_for('teoria')}}"> TEORIA</a> </li>
    </ul>
    </li>
    </ul>
  </nav>
  <nav class="titulocentral">
    <h1 id="tituloescuelanacional"> Escuela Nacional De Taekwondo</h1>
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item  active">
          <div class="">
            <img src="{{url_for('static',filename='Imagenes/ENAT.png')}}" class=" img enat">
          </div>
        </div>
        <div class="carousel-item ">
          <div class="">
            <img src="{{url_for('static',filename='Imagenes/aate.png')}}" class=" img enat">
          </div>
        </div>
      </div>
    </div>
    <h1 id="pasionporlaexcelencia" class="subtitulo"> PASION POR LA EXCELENCIA</h1>
  </nav>
  {% if carrFechas %}
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" role="listbox">
          {% for i in range(0,lenCarrFechas,2) %}
              <div class="{{carrFechas[i]}}">
                  <div class="">
                    <h2 class="noticias"> {{carrFechas[i + 1]}} </h2>
                  </div>
              </div>
          {% endfor %}
        </div>
      </div>
  {% endif %}
  <main class="contenido">


    <div class="historiaenat">
      <h2 class="titulohistoria" id="historia"> HISTORIA DE NUESTRA ESCUELA </h2>
      <p class="historia" data-aos="fade-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,Lorem ipsum dolor sit amet, consectetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,Lorem ipsum dolor sit amet, consectetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div id="carouselExampleControls" class="carousel slide">
            <div class="carousel-inner">
              {% for i in range(0,cantCarrOtroSel,2) %}
                <div class="{{carrOtroSel[i]}}">
                  <img src="{{url_for('static', filename= carrOtroSel[i + 1])}}" class="d-block" alt="...">
                </div>
              {% endfor %}
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="example" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              {% for i in range(0,cantCarrExaSel,2) %}
                <div class="{{carrExaSel[i]}}">
                  <img src="{{url_for('static', filename= carrExaSel[i + 1])}}" class="d-block" alt="...">
                </div>
              {% endfor %}
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="torneo" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div id="torneos" class="carousel slide">
            <div class="carousel-inner">
              {% for i in range(0,cantCarrTorSel,2) %}
                <div class="{{carrTorSel[i]}}">
                  <img src="{{url_for('static', filename= carrTorSel[i + 1])}}" class="d-block" alt="...">
                </div>
              {% endfor %}
              <button class="carousel-control-prev" type="button" data-bs-target="#torneos" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#torneos" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <br>
      {% if fOtro %}
        <p class="tituloimagenes" id="imagenes">
          <u>
            {{fOtro["descripcion"]}}: {{fOtro.fecha_evento.year}}/{{fOtro.fecha_evento.month}}/{{fOtro.fecha_evento.day}}
          </u> 
        </p>
      {% endif %}

      <div class="carrousel">
        <div class="carrousel__contenedor">
          <div class="carrousel__lista" data-bs-toggle="modal" data-bs-target="#exampleModal">
            {% if carrOtro != None %}
              {% for i in carrOtro %}
              <div class="carrousel__elemento">
                <img class="imagen" src="{{url_for('static', filename=i)}}">
              </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div role="tablist" class="carrousel__indicadores"></div>
      </div>
      <div>
        {% if fExamen %}
          <p class="tituloimagenes">
            {% if fExamen["lugar_evento"] == "Otro" %}
            <u>
              {{fExamen["descripcion"]}}:
              {{fExamen.fecha_evento.day}}/{{fExamen.fecha_evento.month}}/{{fExamen.fecha_evento.year}}
            </u> 
            {% else %}
              <u>
                Examen: 
                {{fExamen.fecha_evento.day}}/{{fExamen.fecha_evento.month}}/{{fExamen.fecha_evento.year}}
              </u>
            {% endif %}
          </p>
        {% endif %}
        <div class="carrousel">
          <div class="carrousel__contenedor">
            <div id="glider2" class="carrousel__lista" data-bs-toggle="modal" data-bs-target="#example">
              {% if carrExa %}
                {% for i in carrExa %}
                <div class="carrousel__elemento">
                  <img class="imagen" src="{{url_for('static', filename=i)}}">
                </div>
                {% endfor %}
              {% endif %}
            </div>
            <div role="tablist" id="dots2" class="carrousel__indicadores"></div>
          </div>
        </div>
      </div>
      <div>
        {% if fTorneo %}
          <p class="tituloimagenes">
            {% if fTorneo["lugar_evento"] == "Otro" %}
            <u>
              {{fTorneo["descripcion"]}}:
              {{fTorneo.fecha_evento.day}}/{{fTorneo.fecha_evento.month}}/{{fTorneo.fecha_evento.year}}
            </u> 
            {% else %}
              <u>
                Torneo:
                {{fTorneo.fecha_evento.day}}/{{fTorneo.fecha_evento.month}}/{{fTorneo.fecha_evento.year}}
              </u>
            {% endif %}
          </p>
        {% endif %}
        <div class="carrousel">
          <div class="carrousel__contenedor">
            <div id="glider3" class="carrousel__lista" data-bs-toggle="modal" data-bs-target="#torneo">
              {% if carrTor %}
                {% for i in carrTor %}
                <div class="carrousel__elemento">
                  <img class="imagen" src="{{url_for('static', filename=i)}}">
                </div>
                {% endfor %}
              {% endif %}
            </div>
            <div role="tablist" id="dots3" class="carrousel__indicadores"></div>
          </div>
        </div>
      </div>

  </main>

  <footer>
    <div class="contacto">
      <ul class="mediodecontacto">
        <p class="contactanos">contactanos
        <p>
          <li> <ion-icon name="logo-instagram"></ion-icon> <a class="mediodecontacto"
              href="https://www.instagram.com/tkdenat/" class="iconos"> instagram </a> </li>
          <li> <ion-icon name="logo-facebook"></ion-icon> <a class="mediodecontacto" href="#" class="iconos">
              facebook</a> </li>
          <li> <b> MAIL:</b> <a href="mailto:#?Subject=Taekwon-Do"> falta gmail de la escuela</a> </li>
          <li class="copy">© Enat-Escuela nacional de taekwondo - lautaro vallejos</li>
      </ul>
    </div>

    <div class="logoescueladiv">
      <img class="logodiv img" src="{{url_for('static',filename='Imagenes/ENAT.png')}}">
    </div>

    <div class="logsitf">
      <ul class="logoitf">
        <li> <img class="itf" src="{{url_for('static',filename='Imagenes/itf (2).png')}}"> </li>
        <li> <img class="itf" id="aate" src="{{url_for('static',filename='Imagenes/aate.png')}}"> </li>
      </ul>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 1000
    });
  </script>
  <script type="text/javascript" src="{{url_for('static',filename='JS/glider.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='JS/menu3.js')}}"></script>
</body>

</html>