{% extends 'BaseDeDatos/PlantillaPadre.html' %}
    {% block content %}
    <body>        
        <div class="body_formu">
            <form action="" method="post" class="formularios">
                <h2>Agregar examen</h2>
                {{forma.csrf_token}}
                <label for="fecha_evento">Fecha evento</label>
                {{forma.fecha_evento}}
                <label for="tipo_de_evento">Tipo de evento</label>
                {{forma.tipo_de_evento}}
                <label>Lugar: </label>
                {{formaGim.gimnasio}} 
                <section id="visible">
                    <label for="Descripcion" id="Descripcion">Descripcion</label>
                    {{forma.descripcion}}
                </section>
                <div class="dosBotones">
                    <button class="btnRedondeado" type="submit">Registrar</button>
                    <button class="btnRedondeado" type="button" onclick="location.href='/Base'">Regresar</button>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="/static/BaseJS/agregarEvento.js"></script>
    </body>
    {% endblock %}