{% extends 'BaseDeDatos/mostrarTablas.html' %}
{% block content %}
<nav class="filtros" id="filtros">
    <p>Desde:</p>
    <input type="date" name="fDesde" id="">
    <p>Hasta:</p>
    <input type="date" name="fHasta" id="">
    <button class="btnFilRedondeado" onclick="verEventos('Examen','{{msj}}')">Aceptar</button>
    {% if msj == 'Administrador'%}
    <button class="btnFilRedondeado" onclick="cambioTipoEvento('Examen','Administrador')">Ver examenes</button>
    <button class="btnFilRedondeado" onclick="cambioTipoEvento('Torneo','Administrador')">Ver torneos</button>
    <button class="btnFilRedondeado" onclick="cambioTipoEvento('Otros','Administrador')">Ver otros eventos</button>
    {% else %}
    <button class="btnFilRedondeado" onclick="cambioTipoEvento('Examen')">Ver examenes</button>
    <button class="btnFilRedondeado" onclick="cambioTipoEvento('Torneo')">Ver torneos</button>
    <button class="btnFilRedondeado" onclick="cambioTipoEvento('Otros')">Ver otros eventos</button>
    {% endif %}
    <button class="btnFilRedondeado" onclick="location.href='/Base'">Regresar</button>
</nav>
<section class="tablas" id="tabla">
    {% if evento %}
    <h2>{{tipo}}</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Fecha</th>
                {% if msj == 'Administrador'%}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for id, fecha in evento %}
            <tr>
                {% if msj == 'Administrador'%}
                <td><a
                        onclick="mostrarDato('{{id}}','eve')">{{fecha.day}}/{{fecha.month}}/{{fecha.year}}</a>
                </td>
                <td><a href="{{url_for('eliminar_evento', id = id)}}"><img
                            src="../../../static/CSS/icons8-eliminar-50.png" alt="Eliminar"></a></td>
                {% else %}
                <td>{{fecha.day}}/{{fecha.month}}/{{fecha.year}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</section>
{% endblock %}