{% extends 'BaseDeDatos/PlantillaPadre.html' %}
    {% block content %}
    <body>        
        <div class="tabla">
            {% if usuarioForm %}
            <form action="" method="post">
                    <h2>Agregar usuarios</h2>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Nombre y apellido</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuario in usuarioForm %}
                                <tr>
                                    <td><label for="">{{usuario.nombre_usuario}} {{usuario.apellido_usuario}}</label></td>
                                    <td><input type="checkbox" name="checkbox" id="checkbox" value="{{usuario.id_usuario}}"></td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    <div class="dosBotones">
                        <button type="submit">Aceptar</button>
                        <button type="button" onclick="location.href='/editar_gimnasio/{{gimnasio.id_gimnsio}}'">Regresar</button>
                    </div>
                </form>
            {% else %}
                <p>No se puede agregar más usuarios</p>
                <button type="button" class="unBoton" onclick="location.href='/editar_gimnasio/{{gimnasio.id_gimnsio}}'">Regresar</button>
            {% endif %}
        </div>
    </body>
    {% endblock %}