{% extends 'BaseDeDatos/mostrarTablas.html' %}
{% block content %}
<nav class="filtros" id="filtros">
    {% if msj == 'Administrador' and opc == "todo" %}
        <p>Usuario</p>
        {{usuarios.usuario}}
        <button class="btnFilRedondeado" onclick="verGimnasio('habilitado')">Aceptar</button>
    {% endif %}
    {% if opc == "todo" %}
    <button class="btnFilRedondeado" onclick="llenar('Gims','DesaGims','{{opc}}','{{msj}}')">Deshabilitar
        gimnasios</button>
    <button class="btnFilRedondeado" type="button" onclick="verGimnasio('deshabilitado')">Ver
        deshabilitados</button>
    {% else %}
    <button class="btnFilRedondeado" onclick="llenar('Gims','HabiGims','','')">Habilitar gimnasios</button>
    <button class="btnFilRedondeado" onclick="llenar('Gims','ElimGims','','')">Eliminar gimnasios</button>
    <button class="btnFilRedondeado" type="button" onclick="location.href='/ver_gimnasios/todo'">Ver
        habilitados</button>
    {% endif %}
    <button class="btnFilRedondeado" type="button" onclick="location.href='/Base'">Regresar</button>
</nav>
{% if gimnasios %}
<table border="1" id="tabla">
    <thead>
        <th></th>
        <th>Nombre</th>
        <th>Direccion</th>
    </thead>
    <tbody>
        {% for idGim, nom, dire in gimnasios %}
        <tr>
            <td><input type="checkbox" name="checkbox" value="{{idGim}}"></td>
            {% if opc == 'todo' %}
                <td><a onclick="mostrarDato('{{idGim}}','gim')">{{nom}}</a></td>
            {% else %}
                <td>{{nom}}</td>
            {% endif %}
            <td>{{dire}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>Sin gimnasios asociados</h2>
{% endif %}
</form>
<script type="text/javascript" src="/static/BaseJS/llenarYrecargar.js"></script>
{% endblock %}