{% extends 'BaseDeDatos/registrarYeditar.html' %}
{% block content %}
<div class="formulario">
  <form action="" method="post">
    {{forma.csrf_token}}
    <label for="nombre_usuario">Nombre de usuario</label>
    {{forma.nombre_usuario(size = 30)}}
    <label for="apellido_usuario"> Apellido de usuario </label>
    {{forma.apellido_usuario(size = 30)}}
    <label for="documento_usuario">Documento de usuario</label>
    {{forma.documento_usuario}}
    <label for="categoria">Categoria</label>
    {{forma.categoria}}
    <label id="Nombre_cabeza" for="Nombre_cabeza">Nombre de la cabeza de grupo</label>
    <select name="cabeza" id="cabeza">
      {% for idUsu, nomUsu, apeUsu in cabezas %}
      <option value="{{idUsu}}">{{nomUsu}} {{apeUsu}}</option>
      {% endfor %}
    </select>
    <label id="porInstructor" for="porInstructor">Instructor</label>
    <select name="instructor" id="instructor">
      {% for idUsu, nomUsu, apeUsu in usuarios %}
      <option value="{{idUsu}}">{{nomUsu}} {{apeUsu}}</option>
      {% endfor %}
    </select>
    <label for="cargo_usuario" id="porCargo">Cargo de usuario</label>
    {{forma.cargo_usuario}}
    <label for="email_usuario">E-Mail de usuario</label>
    {{forma.email_usuario}}
    {% if msj == 'Super'%}
    <label for="">Contraseña</label>
    {{forma.contraseña_usuario}}
    {% endif %}
    <section class="dosBotones">
      <button class="btnRedondeado" type="submit">Registrar</button>
      {% if msj != 'Super' %}
      <button class="btnRedondeado" type="button" onclick="location.href='/Base'">Regresar</button>
      {% endif%}
    </section>
  </form>
</div>
<script type="text/javascript" src="/static/BaseJS/editarYagregar.js"></script>
{% endblock %}