{% extends 'BaseDeDatos/mostrarTablas.html' %}
{% block content %}
<nav class="filtros" id="filtros">
    <button class="btnFilRedondeado" onclick="verUsuarios('Cabeza','No')">Ver cabezas</button>
    <button class="btnFilRedondeado" onclick="verUsuarios('Usuarios','Si')">Ver
        instructores</button>
    <button class="btnFilRedondeado" onclick="verUsuarios('Usuarios','No')">Ver usuarios</button>
    <button class="btnFilRedondeado" onclick="verUsuarios('Administrador','No')">Ver
        Administradores</button>
    <button class="btnFilRedondeado" onclick="verUsuarios('Todo','No')">Todos los usuarios</button>
    <button class="btnFilRedondeado" onclick="location.href='/Base'">Regresar</button>
</nav>
<table border="1" id="tabla">
    {% if usuarios %}
    <thead>
        <th>Usuario</th>
        <th>Cargo</th>
        <th></th>
    </thead>
    <tbody>
        {% for nom,ape,cargo,idUsu in usuarios %}
        <tr>
            <td><a onclick="mostrarDato('{{idUsu}}','usu')">{{ape}} {{nom}}</a></td>
            <td>{{cargo}}</td>
            <td><a href="{{url_for('eliminar_usuario', id = idUsu)}}"><img
                        src="../../../static/CSS/icons8-eliminar-50.png" alt="Eliminar"></a></td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <thead>
        <tr>
            <th colspan="2">No se encontraron datos</th>
        </tr>
    </thead>
    {% endif %}
</table>
{% endblock %}